<h1>Stupid Coaching</h1>
<div class="container bg-light border-start border-5">
  <p><%= @question %></p>
  <p>-You</p>
</div>

<div class="container bg-light border-start border-5">
  <p><%=  @answer%></p>
  <p>-Your Coach</p>
</div>

<%= link_to "Ask a question", ask_path %>
